@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body *:not(.no-right-10px) {
  position: relative;
  left: 5px;
}

h1 {
  position: relative;
  bottom: 10px;
}

button {
  font-family: 'Roboto', sans-serif;
  border: 2px solid gray;
  border-radius: 50px;
  background-color: white;
  color: rgb(66, 66, 66);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: gray;
}

/* https://stackoverflow.com/a/31633969 */
br {
  display: block;
  content: "";
  margin-top: 10px;
}
